@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1672798738176') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-:before {
  content: "\e62c";
}

.icon-fangzi:before {
  content: "\e8ff";
}

.icon-Site:before {
  content: "\e60c";
}

.icon-tingchechang:before {
  content: "\e90a";
}

.icon-zhandian:before {
  content: "\e74f";
}

.icon-chongdianzhuang:before {
  content: "\e689";
}

.icon-guangbiao:before {
  content: "\e6ff";
}

.icon-shengjiangji:before {
  content: "\e6d2";
}

