#right-click-panel {
    // width: 1px;
    padding: 10px 0px;
    background-color: white;
    border-radius: 6px;
    box-shadow: inset;
    border: 1px solid lightgrey;

    div {
        cursor: pointer;
        padding: 5px 20px;
     
        &:hover {
            background-color: lightgrey;
        }
    }
}

.edit-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    margin: auto;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

}

.panel-main {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    padding:20px 10px;
}

.edit-panel ul li {
    display: flex;
    // width: 800px;
}

.edit-panel ul .panel-item-pos {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.edit-panel ul .panel-item-pos div {
    margin: 10px 0;
}

.edit-panel ul li div {
    display: flex;
}

.panel-operation {
    padding-left: 40px;
}