 
#operCanvasDom {
    background-color: rgba($color: #d3dcee, $alpha: 0.4);

}

#canvas-container {
    position: relative;
    user-select: none;

    #operCanvasDom {
        border: 1px solid rgb(166 160 160);
    }

    .canvas-scale {
        position: fixed;
        left: 108px;
        bottom: 25px;
        z-index: 2;
        display: flex;


        span {
            display: block;
            width: 50px;
            height: 18px;
            line-height: 18px;
            margin-right: 15px;
            text-align: center;
            font-size: 12px;
            border-bottom: 1px solid black;
            position: relative;

            &::before,
            &::after {
                content: "";
                display: block;
                width: 1px;
                height: 6px;
                background-color: black;
                position: absolute;
                left: 0;
                bottom: -1px;
                margin: auto;
            }

            &::after {
                left: unset;
                right: 0;
            }
        }

        label {
            line-height: 20px;
            font-size: 12px;
        }
    }
}


.main-panel {
    width: 100%;
    height: 100vh;

    .tool-bar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 100px;
        height: 50px;
        background-color: #e4ebf9;

        div:not(.use-mode) {
            height: 35px;
            line-height: 35px;
            padding: 0 5px;
            margin-right: 15px;
            border-radius: 4px;
            font-size: 14px;
            border: 1px solid lightgrey;
            cursor: pointer;

            &:hover {
                background-color: #92a2c3;
            }
        }

        .use-mode {
            margin: 0 20px 0 auto;
        }
    }

    .panel-body {
        position: relative;
        display: flex;
        align-items: flex-start;

        ul.side-bar {
            flex: 0 0 60px;
            height: 100%;

            &>li {
                position: relative;
                width: 60px;
                height: 40px;
                cursor: pointer;
                border-bottom: 1px solid lightgrey;

                &>div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60px;
                    height: 40px;
                }

                &>div.active {
                    background-color: lightgrey;
                }

                &:hover {
                    background-color: lightgrey;
                }

                ol {
                    display: none;
                    position: absolute;
                    // width: 40px;
                    top: 0px;
                    left: 60px;
                    z-index: 5;
                    background-color: white;
                    box-shadow: 1px 1px 1px grey;
                    border-left: 1px solid lightgrey;

                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        padding: 5px;
                        border-bottom: 1px solid lightgrey;

                        &:hover {
                            background-color: lightgrey;
                        }
                    }
                }

                &:hover {
                    ol {
                        display: block !important;
                    }
                }
            }



            li:not(.props-list) {
                cursor: pointer;
            }

            li.active {
                color: pink;
            }
        }






    }



    .input-divide-box {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        margin: auto;
        width: 200px;
        height: 100px;
        background-color: white;
        border-radius: 5px;
        padding: 10px 5px;


        .operation-box {
            display: flex;
            justify-content: space-around;

            div {
                cursor: pointer;
                width: 140px;

            }
        }

    }

    .pop-adjust-position {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        margin: auto;
        width: 400px;
        height: 160px;
        background-color: white;
        border-radius: 5px;
        padding: 10px 5px;

        h4 {
            text-align: center;
        }

        .pop-input {
            margin: 10px 0;

            div {
                display: flex;
                align-items: center;
                margin: 5px 0;

                input {
                    margin-left: 10px;
                    width: 100px;
                }
            }
        }

        .pop-operation {
            display: flex;
            justify-content: space-around;

            span {
                display: block;
                width: 80px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                border: 1px solid lightgrey;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }


}

.mask {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
}