* {
    box-sizing: border-box;
}
html,body{
    min-height: 100vh;
}

html,
body,ol,ul {
    padding: 0;
    margin: 0;
    position: relative;
}

ul,h1,h2,h3,h4,h5 {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}