.body-detail {
    position: fixed;
    z-index: 3;
    top: 50px;
    right: 0;
    width: 300px; 
    display: block;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    background-color: white;
    h4 {
        padding: 0 0 0 10px;
        background: #5174b7;
        line-height: 48px;
        color: white;
    }

    ul {
        padding: 20px 10px;

        li {
            margin-bottom: 20px;
            input {
                width: 80px;
            }
        }

        .logic-coordinates,.physical-coordinates{
           &> div {
                margin: 5px 0 0 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

            }
        }
    }
}