<template>
  <div class="context-menu" :style="positionStyle" v-show="showContextMenu">
    <ul>
      <li
        v-for="item in menuData"
        :key="item.operType"
        @click="contextMenuAction(item)"
      >
        {{ item.operName }}
      </li>
    </ul>
  </div>
</template>
<script setup lang="ts">
import { ref, reactive, toRaw } from "vue";
import { contextMenuDataArr } from "../config/constant";
import eventBus from "../tools/EventBus";
const menuData = reactive(contextMenuDataArr);

const positionStyle = reactive({
  left: `0px`,
  top: `0px`,
});

const showContextMenu = ref(false);

let curTargetPropConf = null;
let curEvent = null;

const contextMenuAction = ({ operType }) => {
  switch (operType) {
    case 1:
      eventBus.$emit("show-pop-properties", {
        propConf: curTargetPropConf
      });
      break;
    case 2:
      eventBus.$emit("node-delete", { targetId: curTargetPropConf.propsId });
      break;
    case 3:
      eventBus.$emit("show-pop-divide", {
        targetId: curTargetPropConf.propsId,
      });
      break;
    case 4:
      eventBus.$emit("set-target-point-benchmark", {
        targetId: curTargetPropConf.propsId,
      });
      break;
    case 5:
      eventBus.$emit("insert-node", {
        e: curEvent,
        targetId: curTargetPropConf.propsId,
      });
      break;
    case 6:
      eventBus.$emit("props-copy");
      break;
    case 7:
      // $('.mask').addStyle({ display: 'block' })
      // $('.pop-adjust-position').addStyle({ display: 'block' })
      // $('.input-divide-box input').attr('propId', this.propConf.propsId)
      // eventBus.$emit('adjust-position', { e: curEvent, targetId: curTargetPropConf.propsId })
      break;
  }

  showContextMenu.value = false;
};

eventBus.$on("hide-context-menu", () => {
  showContextMenu.value = false;
});
eventBus.$on("show-context-menu", ({ e, propConf }) => {
  showContextMenu.value = true;
  curTargetPropConf = propConf;
  curEvent = e;
  positionStyle.left = e.offsetX + "px";
  positionStyle.top = e.offsetY + "px";
});
</script>
<style lang="scss" scoped>
.context-menu {
  position: absolute;
  z-index: 4;
  ul {
    padding: 10px 0px;
    background-color: white;
    border-radius: 6px;
    box-shadow: inset;
    border: 1px solid lightgrey;
    li {
      width: 90px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: lightgrey;
      }
    }
  }
}
</style>