<template>
  <el-dialog v-model="dialogFormVisible" title="路线平均分段">
    <el-form :model="form">
      <el-form-item label="请输入要均分的段数：" :label-width="formLabelWidth">
        <el-input v-model="form.pathNumber" autocomplete="off" />
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取消</el-button>
        <el-button type="primary" @click="divideConfirmAction">
          确认
        </el-button>
      </span>
    </template>
  </el-dialog>
</template>
<script setup lang="ts">
import { ElDialog,   ElForm, ElFormItem, ElInput } from "element-plus";
import eventBus from "../tools/EventBus";
import { ref, reactive } from "vue";

const dialogFormVisible = ref(false);
let targetPathId = undefined;

const formLabelWidth = "160px";
const form = reactive({
  pathNumber: 2,
});

// eventBus.$off("show-pop-divide");
eventBus.$on("show-pop-divide", ({ targetId }) => {
  dialogFormVisible.value = true;
  targetPathId = targetId;
});

const divideConfirmAction = () => {
  dialogFormVisible.value = false;
  eventBus.$emit('hide-context-menu')
  eventBus.$emit("path-divide", { targetPathId, value: +form.pathNumber });
};
</script>