<template>
  <div class="pop-properties">
    <el-dialog v-model="dialogFormVisible" title="节点属性">
      <el-form :model="form">
        <el-form-item label="站点ID：" :label-width="formLabelWidth">
          <span>{{ form.propsId }}</span>
        </el-form-item>
        <el-form-item label="物理坐标：" :label-width="formLabelWidth">
          <div class="phy-axis">
            x：
            <el-input
              v-model="form.x"
              autocomplete="off"
              size="small"
              label="x"
            />
            y：
            <el-input
              v-model="form.y"
              autocomplete="off"
              size="small"
              label="x"
            />
          </div>
        </el-form-item>
        <el-form-item label="站点类型：" :label-width="formLabelWidth">
          <el-select v-model="propType2" placeholder="站点类型">
            <el-option
              v-for="item in PropsTypeForSelect"
              :key="item.value"
              :label="item.label"
              :value="item.value"
              :disabled="item.disabled"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取消</el-button>
          <el-button type="primary" @click="confirmAction"> 确认 </el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>
<script setup lang="ts">
import { ElDialog, ElForm, ElFormItem, ElInput } from "element-plus";
import eventBus from "../tools/EventBus";
import { ref, reactive } from "vue";
import { propsMap, propsTypesEnum } from "../stores";
import { PropsTypeForSelect } from "../config/constant";

const dialogFormVisible = ref(false);

const formLabelWidth = "100px";
let form = reactive({
  x: 0,
  y: 0,
  propType: 1,
  propsId: "",
  propsName: "",
  uid: "",
});
const propType2 = ref(0);

const propTypeMap = {};
PropsTypeForSelect.forEach((item) => {
  propTypeMap[item.value] = item.label;
});

let curPropConf = null;
eventBus.$on("show-pop-properties", ({ propConf }) => {
  curPropConf = propConf;
  const {
    propsId,
    uid,
    propType,
    conf: { x, y },
  } = propConf;

  form = {
    x,
    y,
    propType,
    propsId,
    propsName: propTypeMap[propType],
    uid,
  };
  propType2.value = propType;
  // form.propType  = propType
  dialogFormVisible.value = true;
});

// const propsTypes = reactive(PropsTypeForSelect);

const confirmAction = () => {
  const { x, y, propsId } = form;
  curPropConf.conf.x = x;
  curPropConf.conf.y = y;
  curPropConf.propType = propType2.value;
  propsMap.set(propsId, curPropConf);

  eventBus.$emit("update-second-stage");

  dialogFormVisible.value = false;
};
</script>
<style lang="scss" scoped>
.pop-properties {
  .phy-axis {
    display: flex;
    .el-input {
      flex: 0 0 100px;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
</style>
