<template>
  <div class="side-bar">
    <div v-for="item in sideBarArr" :key="item.type">
      <i
        :class="`iconfont  ${
          operationMode === item.type && curOperationIcon
            ? curOperationIcon
            : item.icon
        } ${operationMode === item.type ? 'active' : ''}`"
        :title="item.title"
        @click="sideBarAction(item)"
      ></i>
      <ul v-if="!!item.children">
        <li
          v-for="subItem in item.children"
          :key="subItem.type"
          :class="`iconfont  ${subItem.icon} ${
            operationChildMode === subItem.type ? 'active' : ''
          }`"
          :title="subItem.title"
          @click="sideBarItemAction({ item, subItem })"
        ></li>
      </ul>
    </div>
  </div>
</template>
<script setup lang="ts">
import { storeToRefs } from "pinia";
import { ref } from "vue";
import { useGraphStore } from "../stores/store";
const GraphStore = useGraphStore();
const { operationMode, operationChildMode } = storeToRefs(GraphStore);

const sideBarArr = ref([
  // {
  //   type: 0,
  //   title: "抓手",
  //   icon: "icon-icon-",
  // },
  {
    type: 0,
    title: "光标",
    icon: "icon-guangbiao",
  },
  {
    type: 5,
    title: "站点",
    icon: "icon-zhandian",
    children: [
      {
        type: 1,
        title: "普通站点",
        icon: "icon-zhandian",
      },
      {
        type: 2,
        title: "充电桩",
        icon: "icon-chongdianzhuang",
      },
      {
        type: 3,
        title: "休息区",
        icon: "icon-tingchechang",
      },
      {
        type: 4,
        title: "升降机",
        icon: "icon-shengjiangji",
      },
      {
        type: 5,
        title: "接货站",
        icon: "icon-fangzi",
      },
    ],
  },
  {
    type: 6,
    title: "连线",
    icon: "icon-Site",
    children: [
      {
        type: 6,
        title: "连线",
        icon: "icon-Site",
      },
    ],
  },
]);

const curOperationIcon = ref("");

const sideBarAction = (data) => {
  if (!data.children) {
    GraphStore.$patch({
      operationMode: data.type,
    });
    curOperationIcon.value = data.icon;
    return;
  }
};
const sideBarItemAction = ({ item, subItem }) => {
  GraphStore.$patch({
    operationMode: item.type,
    operationChildMode: subItem.type,
  });
  curOperationIcon.value = subItem.icon;
};
//
</script>
<style lang="scss" scoped>
.side-bar {
  flex: 0 0 40px;
  & > div {
    position: relative;
    width: 40px;
    height: 40px;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      &:hover {
        ul {
          display: block !important;
        }
      }
    }
    i.active {
      background-color: lightgrey;
    }
    ul {
      display: none;
      position: absolute;
      left: 39px;
      top: 0;
      z-index: 5;
      border-left: 1px solid lightgrey;
      box-shadow: 1px 1px 1px grey;
      background-color: white;
      cursor: pointer;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 5px;

        &:hover {
          background-color: lightgrey;
        }
      }
      li.active {
        background-color: lightgrey;
      }
    }
    &:hover {
      background-color: lightgrey;
      ul {
        display: block !important;
      }
    }
  }
}
</style>
