<template>
  <div class="tool-bar">
    <el-button type="primary" @click="loadMapFromCache">加载缓存</el-button>
    <el-button type="primary" @click="temporarySave">暂存</el-button>
    <el-button type="primary" @click="genJson">导出</el-button>
    <div class="tool-bar-right"></div>
  </div>
</template>
<script setup lang="ts">
import { storeToRefs } from "pinia";
import { ref } from "vue";
import { ElButton, ElMessage } from "element-plus";

import { useGraphStore } from "../stores/store";
import { canvasData, idPool, propsMap, setIdPool, setPropsMap, siteIdSet } from "../stores";
import { nodeTypesEnum, pathTypesEnum } from "../config/enum";
import { updateStage } from "../geoTools/geometryTools";
const GraphStore = useGraphStore();
const { operationMode, operationChildMode } = storeToRefs(GraphStore);

const genJson = () => {
    const json = JSON.stringify(Object.fromEntries(propsMap))
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(json));
    element.setAttribute('download', 'mapdata.json');

    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
}


const temporarySave = () => {
    let temMap = [...propsMap]
    temMap = temMap.map(([propsId, data]) => {
        //将集合转成数组，便于生成json
        if (data.relativeNodeSet) {
            data.relativeNodeSet = [...data.relativeNodeSet]
        }
        if (data.relativePathSet) {
            data.relativePathSet = [...data.relativePathSet]
        }
        return [propsId, data]
    })
    const json = JSON.stringify(temMap)
    localStorage.setItem('canvas_map_json', json)
    localStorage.setItem('canvas_map_id_pool', JSON.stringify(idPool))
 
                    ElMessage({
                    message: '暂存成功',
                    type: 'success',
                    duration: 2000
                })
}


const loadMapFromCache = () => {
    const canvasMapJson = localStorage.getItem('canvas_map_json')
    const canvas_map_id_pool = localStorage.getItem('canvas_map_id_pool')
    setIdPool(JSON.parse(canvas_map_id_pool))
    let genObj = JSON.parse(canvasMapJson)
    let totalNode = 0;
    let totalPath = 0;
    Object.keys(genObj).forEach(item => {
        if (genObj[item][1].propType in nodeTypesEnum){
            siteIdSet.add(genObj[item][0])
            totalNode++;
        }
        if (genObj[item][1].propType in pathTypesEnum) totalPath++;
        if (genObj[item][1].relativeNodeSet) {
            genObj[item][1].relativeNodeSet = new Set(genObj[item][1].relativeNodeSet)
        }
        if (genObj[item][1].relativePathSet) {
            genObj[item][1].relativePathSet = new Set(genObj[item][1].relativePathSet)
        }
    })
    console.log('节点数共计：', totalNode)
    console.log('路线数共计：', totalPath)

    genObj = new Map(genObj);
    setPropsMap(genObj)
//    console.log('genObj',genObj)
    const { secondCanvasCtx, offCanvasCtx, canvasWidth, canvasHeight } = canvasData
    updateStage(secondCanvasCtx, offCanvasCtx, canvasWidth, canvasHeight)
}

</script>
<style lang="scss" scoped>
.tool-bar {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 60px;
  width: 100vw;
  box-sizing: border-box;
  .tool-bar-right {
    margin-left: auto;
  }
}
</style>