
<template>
  <div class="canvas-map">
    <ToolBar ref="toolbarDomRef" />

    <div class="map-body">
      <SideBar />
      <div id="canvas-container">
        <canvas id="secondCanvas" ref="secondCanvasDomRef"></canvas>
        <div class="canvas-scale">
          <span>0.5米</span>
          <label id="show-mouse-coordinate"></label>
        </div>
        <Contextmenu />
      </div>
    </div>
    <PopPathDivide />
    <PopProperties/>
  </div>
</template>
<script setup lang="ts">
import SideBar from "./components/SideBar.vue";
import ToolBar from "./components/ToolBar.vue";
import PopPathDivide from "./components/PopPathDivide.vue";
import Contextmenu from "./components/Contextmenu.vue";
import PopProperties from "./components/PopProperties.vue";

import OperStage from "./geoTools/operStage";
import { onMounted, ref } from "vue";
 
import { storeToRefs } from "pinia";
import eventBus from "./tools/EventBus";
 

const secondCanvasDomRef = ref(null);
const toolbarDomRef = ref(null);

onMounted(() => {
  // const height = document.body.clientHeight - toolbarDomRef.value?.clientHeight - 20;
  const height = document.body.clientHeight - 20;
  const width = document.body.clientWidth - 40;
  secondCanvasDomRef.value.style.height = `${height}px`;
  secondCanvasDomRef.value.style.width = `${width}px`;

  // $("#secondCanvas").addStyle({
  //   height: `${height}px`,
  //   width: `${width}px`,
  // });
  new OperStage(secondCanvasDomRef.value);
});
</script>

<style lang="scss" scoped>
.canvas-map {
  .map-body {
    display: flex;
  }
}
</style>
